* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: rgb(45, 45, 45);
  background-color: rgb(246, 235, 255);
}

.nav-list a,
.project,
.btn-show-all {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(246, 235, 255);
}

.nav-list a:hover,
.project:hover,
footer a:hover {
  color: rgb(235, 255, 235);
  transition: color 0.3s ease-out;
}

.nav {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(45, 45, 45);
  box-shadow: 0 6px 5px rgba(105, 100, 109, 0.5);
}

ul {
  list-style: none;
}

.nav-list {
  display: flex;
  margin-right: 3rem;
}

.nav-list a {
  display: block;
  padding: 1.5rem;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgb(186, 175, 195), rgb(246, 235, 255), rgb(246, 235, 255), rgba(186, 175, 195));
}

.projects-section {
  text-align: center;
  background-color: rgb(120, 150, 124);
  box-shadow: 0 2px 2px rgba(87, 108, 90, 0.3),
    0 -2px 2px rgba(87, 108, 90, 0.3);
  padding-top: 5rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.projects-section-header {
  max-width: 1000px;
  margin: 0 auto 4.5rem auto;
  font-size: 2.5rem;
}

.projects-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 6rem;
  width: 100%;
  max-width: 1280px;
  margin: 6rem auto;
}

.project {
  background-color: rgba(105, 100, 109);
  width: 400px;
}

.project-image {
  width: 100%;
  max-width: 400px;
  height: 300px;
  object-fit: cover;
}

.project-title {
  padding: 1rem;
}

.btn-show-all {
  background-color: rgba(105, 100, 109);
  padding: 1rem;
  box-shadow: 2px 2px 2px rgba(87, 108, 90, 0.3),
    -2px -2px 2px rgba(87, 108, 90, 0.3);
  border: solid 1px rgb(95, 95, 95);
  transition: background-color 0.3s ease-out;
}

.btn-show-all:hover {
  background-color: rgb(45, 45, 45);
}

.btn-show-all>i {
  margin-left: 10px;
  transition: transform 0.3s ease-out;
}

.btn-show-all:hover>i {
  transform: translateX(2px);
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 75vh;
  padding: 0 2rem;
  font-size: 1.8rem;
}

.contact-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  color: rgb(45, 45, 45);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  transition: transform 0.3s linear;
}

.contact-details:hover {
  transform: translateY(4px);
}

footer {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  color: rgb(246, 235, 255);
  background-color: rgba(105, 100, 109);
  box-shadow: 0 -2px 2px rgba(105, 100, 109, 0.5);
}

footer a {
  color: rgb(246, 235, 255);
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 45%;
  }

  body {
    text-align: center;
    justify-content: center;
  }

  .welcome-section {
    height: 80vh;
  }

  .project {
    width: 250px;
  }

  .project-image {
    width: 100%;
    max-width: 250px;
    height: 150px;
    object-fit: cover;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 80%;
  }
}